	<% include ../partials/head %>
	<body style="background-image: url('../images/tree_bark.png')">
	 <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          
          <img src="/images/MM-Logo.png" height="80px" width="200px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Games</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/athobrae">Athobrae</a>
                <a class="dropdown-item" href="/coming">Coming Soon</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/store">Store</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newsletter">Newsletter</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

	<div id="fh5co-wrap">
		<div id="carouselExampleSlidesOnly" class="carousel carousel-fade" data-ride="carousel">
		  <div class="carousel-inner">
		    <div id="cgame" class="carousel-item active">
		      <img class="d-block w-100" src="../images/anthobrae/Athobrae Banner_07.png" alt="First slide">
		    </div>
		    <div id="cgame" class="carousel-item">
		      <img class="d-block w-100" src="../images/anthobrae/Athobrae Banner_02.png" alt="Second slide">
		    </div>
		    <div id="cgame" class="carousel-item">
		      <img class="d-block w-100" src="../images/anthobrae/Athobrae Banner_03.png" alt="Third slide">
		    </div>
		    <div id="cgame" class="carousel-item">
		      <img class="d-block w-100" src="../images/anthobrae/Athobrae Banner_01.png" alt="Fourth slide">
		    </div>
		    <div id="cgame" class="carousel-item">
		      <img class="d-block w-100" src="../images/anthobrae/Athobrae Banner_04.png" alt="Fifth slide">
		    </div>
		    <div id="cgame" class="carousel-item">
		      <img class="d-block w-100" src="../images/anthobrae/Athobrae Banner_06.png" alt="Sixth slide">
		    </div>
		    <div id="cgame" class="carousel-item">
		      <img class="d-block w-100" src="../images/anthobrae/Athobrae Banner_05.png" alt="Seventh slide">
		    </div>
		    <div id="cgame" class="carousel-item">
		      <img class="d-block w-100" src="../images/anthobrae/Athobrae Banner_08.png" alt="Eighth slide">
		    </div>
		    <div id="cgame" class="carousel-item">
		      <img class="d-block w-100" src="../images/anthobrae/Athobrae Banner_09.png" alt="Ninth slide">
		    </div>
		    <div id="cgame" class="carousel-item">
		      <img class="d-block w-100" src="../images/anthobrae/Athobrae Banner_10.png" alt="Tenth slide">
		    </div>
		    <div id="cgame" class="carousel-item">
		      <img class="d-block w-100" src="../images/anthobrae/Athobrae Banner_11.png" alt="Eleventh slide">
		    </div>
		    <div id="cgame" class="carousel-item">
		      <img class="d-block w-100" src="../images/anthobrae/Athobrae Banner_12.png" alt="Twelth slide">
		    </div>
		  </div>
		</div>
		<div class="fh5co-hero" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
				
							<div class="col-md-9">
					
					<video id="hi" class="d-block w-100">
			 		 	<source src="/images/01_Trailer no_ship.mp4" type="video/mp4">
					  Athobrae Trailer
					</video>
			
							</div>
							<div id="about" class="col-md-3">
							<ul class="fh5co-social text-center">
								<h4 id="athobrae">The Last Days of Athobrae</h4>
								<hr>
							<li style="font-weight: bold">Designers</li> 
							<li>Bradford S. Obie and David Panzer
							</li><br>
							<li style="font-weight: bold">Players</li> <li> 1-5</li><br>
							<li style="font-weight: bold">Time </li> <li> 2-5 hours</li><br>
							<li style="font-weight: bold">Age </li> <li>12+</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1>To the Citzens of Athobrae!</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
			<p>The end isn’t just nigh, it’s here. In “The Last Days of Athobrae,” you’ll take on the mantle of one of the 5 sovereign city-states of the dying planet. You’ll compete with other players to amass your planet’s dwindling resources. </p>
					</div>
					<div class="col-md-6">
						<p><img id="scout" src="../images/anthobrae/Correth Scout.png" alt="pendent" class="ext-center" height='150px' width='220px'>Players build a functional Interstellar Quantum Vehicle (IQV)—a ship large enough to evacuate your people. This is no time for precious sentimentality—there’s not enough resources on this rock for everyone. Alliances will be forged (and smashed). Scouts will be dispatched (and murdered). Lifelong friendships will be crushed beneath the boot of expediency.</p>
					</div>
					<div class="col-md-3">
						<p>As the planet begins to literally collapse beneath your feet, the resources you need to survive grow scarcer—and your opponents more desperate. First civilization to build an IQV and get its people off the planet wins. Second prize (and third, and fourth, and fifth): oblivion in a fiery cataclysm.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="fh5co-parallax" style="background-image: url('');  background-color: rgb(32,204,159)" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col text-center fh5co-table">
						<div class="fh5co-intro fh5co-table-cell">
							<h1 class="text-center">How to Play</h1>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 fh5co-staff">
						<!-- <img src="images/person3.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive"> -->
						<p>“The Last Days of Athobrae” is a resource gathering strategy game filled with unexpected turns and pitfalls.Players send out scouts in search of resources to build their ship, and technology to help their cities triumph.Each city has its own unique strengths and weaknesses.While some may be heavy on attack,others thrive with defense.Know your city, and make your plans wisely because one thing’s for certain: You can expect the unexpected.</p>
					</div>
					<div class="col-md-6 fh5co-staff">
					<!-- 	<img src="images/person2.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive"> -->

						<p>Not only are you contending with wily opponents, the world itself is against you as well.With each “Location” card revealed,the world falls further and further apart, by flipping or removing the hex-tiles that comprise Athobrae.With each accompanying“World Event” card, it falls further and further into chaos. “World Events” will likely spell trouble, but there are those glimmers of light that may come as a boon to you! This element of chance ensures no game will ever be the same, and that means endless hours of unique game play!</p>
					</div>
				</div>
					<div class="row">
						<div class="col-md-5 text-center">
						<img style="text-align: center" src="../images/anthobrae/Athobrae-Kickstarter-2018.png" alt="pendent" class="d-block w-100" height='200px' width='300px'>
						<br><br>
						</div>
						<div class="col-md-6 text-center">
							<form>
          <div style="text-align: center" class="form-group">
            <h4 style="font-weight: bold">TO RECEIVE KICKSTARTER UPDATES</h4>
            <input type="text" class="form-control text-center" id="formGroupExampleInput" placeholder="Email">
            <br>
            <button id="subscribes" type="submit" class="btn btn-sm btn-primary">Subscribe</button>
          </div>
        </form>
						</div>
					</div>
			</div>
		</div>
		
		</div>

	</div> <!-- END fh5co-wrap -->

<% include ../partials/footer %>