<% include ../partials/head %>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/home">
          
          <img src="/images/MM-Logo.png" height="60px" width="170px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Games</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/athobrae">Athobrae</a>
                <a class="dropdown-item" href="/dreamwalkers">Dreamwalkers</a>
                <a class="dropdown-item" href="/coming">Coming Soon</a>
              </div>
            </li>
           <!--  <li class="nav-item">
              <a class="nav-link" href="/store">Store</a>
            </li> -->
                          <li class="nav-item">
              <a class="nav-link" href="/faq">FAQs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newsletter">Newsletter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/subscribe">Subscribe</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <body style="background-image: url('../images/crossword.png')">
    	<br>
	<div id="fh5co-wrap">
			<div id="contact" class="container">
				<div class="row">
					<div class="col">
					</div>
				</div>
					<div id="moonlit" class="container">
						<div class="row text-center">
						<div class="col">
							<h1>On the Trail Of</h1>
							<p>On the Trail Of… is a competitive, character-building strategy board
								game in which you take on the mantle of an award winning freelance
								photographer and cryptozoology enthusiast.
								Scour the globe in hopes of getting the perfect snapshot of the world’s
								weirdest, most notorious, and maddeningly elusive denizens. Get the
								shot, sell it to the media and revel in fame and fortune. Fail, and join the
								ranks of washed-up crackpots with nothing to show for your troubles,
								but blurry photos and wild tales.</p>
						</div>
						</div>
						<div class="row text-center">
						<div class="col">
							<h1>Mnemosyne: Piracy</h1>
							<p> A Memory deck building game where you and your crew hunt for treasure and scuttle opponent's ships.</p>
						</div>
						</div>
				</div>
			</div>
		</div>


<% include ../partials/footer %>