 <% include ../partials/head %>
<% include ../partials/header %>

<body>
	<div id="fh5co-wrap">
		<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col">
						<h1 class="text-center">Contact us</h1>
						<img class="text-center" src="../images/Gallery_11.png" width="550px" height="400px" alt="Contact">
							<p class="text-center">Question or Comment?
							<br>Thank you for your interest in contacting us</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<p>At Moonlit Moor we are passionate about games.Whether it is playing, or designing, we immerse ourselves in every aspect. With a foundation of creativity and imagination Moonlit Moor Games strives to bring the very best tabletop gaming experience to all. We hope to broaden and strengthen the gaming community through collaboration, inspiration and above all fun.</p>

						<p>Moonlit Moor Games <br> Los Angeles, CA 91352</p>
						<p><a href="#">info@moonlitmoor.com</a>
							<a href="#">www.moonlitmoor.com</a>
						</p>

		
					</div>
					<div class="col-md-6 col-md-push-1">
						<form action="#">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Name">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email">
							</div>
							<div class="form-group">
								<textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
							</div>
							<div class="form-group">
								<input type="submit" value="Send Message" class="btn btn-primary btn-md">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- <div class="fh5co-parallax" style="background-image: url('../images/BGG_cornerlogo.png');" data-stellar-background-ratio="1">
		</div> -->

	</div>


    <% include ../partials/footer %>