 <% include ../partials/head %>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          
          <img src="/images/MM-Logo.png" height="60px" width="170px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Games</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/athobrae">Athobrae</a>
                <a class="dropdown-item" href="/coming">Coming Soon</a>
              </div>
            </li>
           <!--  <li class="nav-item">
              <a class="nav-link" href="/store">Store</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/gallery">Gallery</a>
            </li>
          <!--   <li class="nav-item">
              <a class="nav-link" href="/newsletter">Newsletter</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/subscribe">Subscribe</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


<body style="background-image: url('../images/crossword.png')">
	<div id="fh5co-wrap">
			<div id="contact" class="container">
				<div class="row">
					<div class="col">
					</div>
				</div>
					<div class="row">
						<div class="col-md-1"></div>
					<div  id="moonlit" class="col-md-9">
						<p class="text-center">At Moonlit Moor we are passionate about games. Whether it is playing, or designing, we immerse ourselves in every aspect. With a foundation of creativity and imagination Moonlit Moor Games strives to bring the very best tabletop gaming experience to all. We hope to broaden and strengthen the gaming community through collaboration, inspiration and above all fun.</p>
						<p class="text-center">Moonlit Moor Games <br> Los Angeles, CA 91352</p>
						<p class="text-center"><a href="#">info@moonlitmoor.com</a><br><a href="#">www.moonlitmoor.com</a></p>
						<div class="col-md-1"></div>
					</div>
				</div>
				<div id="contact2" class="row">
					<div class="col-md-6">
						<img class="w-100" src="../images/Gallery_11.png" alt="Contact">
						<br><br>
					</div>
					<div class="col-md-6">
						<h1 class="text-center">Question or Comment?</h1>
						<form>
							<div class="form-row">
							<div class="form-group col-md-6">
								<input type="text" class="form-control" id="name" placeholder="Name">
							</div>
							<div class="form-group col-md-6">
								<input type="text" class="form-control" id="email" placeholder="Email">
							</div>
							</div>
							<div class="form-group">
								<textarea class="form-control" name="" id="message" cols="30" rows="10" placeholder="Message"></textarea>
							</div>
							<div class="form-group text-center">
								<input id="submit" type="submit" value="Send Message" class="btn btn-primary btn-md">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</div>

    <% include ../partials/footer %>