
<% include ../partials/head %>
  <body style="background-image: url('../images/crossword.png')">

    <!-- Navigation -->
   <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/home">
          
          <img src="/images/MM-Logo.png" height="60px" width="170px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Games</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/athobrae">Athobrae</a>
                <a class="dropdown-item" href="/coming">Coming Soon</a>
              </div>
            </li>
	            <li class="nav-item active">
              <a class="nav-link" href="/faq">FAQs</a>
            </li>
         <!--    <li class="nav-item">
              <a class="nav-link" href="/store">Store</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newsletter">Newsletter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/subscribe">Subscribe</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<div id="fh5co-wrap">
	<div class="fh5co-section">


<div class="container text-center">
  <h1 class="text-center">FAQs</h1>
  <p>
We’ve taken great pains to cover as many eventualities that may arise as possible,
however, if you come across a situation you are unsure about, we encourage you to
use your best judgement and fairnes in creating “house rules” that work for you and
your fellow players.</p>
<hr>
  <h4>What happens to tokens when the corresponding technology is broken?</h4><p>
When technology that produces tokens is broken any tokens that are in play stay in
play and are used as normal, but tokens on the card must be refreshed after the
Technology is repaired.</p>
<br>

<h4>How does the “Fifth Scout” work?</h4><p>
Once the Technology for the “Fifth Scout” has been built, then it acts exactly like any
other Scout. The Technology card itself can not be broken or destroyed, but the
Scout can still be wounded or killed.</p>
<br>

<h4>Can “Mines” be destroyed?</h4><p>
Mines are only destroyed by “World Events”, or “World Convulsions”. They cannot
be broken or destroyed by other players.</p>
<br>

<h4>
How does “Seize a Mine” work?</h4><p>
The Correth event “Seize a Mine” allows Corrething Scouts to use an opponent’s
“Mine” as if it were their own for one turn. It also gives their Scouts two additional
search dice on that Mine. So in total, each Scout would have 5 search dice and
succeed on rolls of 3-4.</p>
<br>

<h4>What’s the worst World Event in the deck?</h4><p>
Well, most of the World Events are pretty bad, but two of them stick out as the
worst. World Event Card 108 “EMP” will break everyones blueprints, and World
Event Card 109 “Lost in Translation” will force everyone to discard their hand of
cards. If you feel these cards are too harsh, you can take them out without greatly
effecting the entirety of the game.</p>
<br>
      </div>
</div>
</div>

<% include ../partials/footer %>