<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Moonlit-Moor</title>
    <link rel="shortcut icon" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
  
    <!-- Animate.css -->

  
    <!-- Magnific Popup -->

    <!-- Bootstrap  -->
    <!-- Icomoon Icon Fonts-->
    <!-- Theme style  -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="css/animate.css">
  
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
 <link href="css/full-slider.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/gallery.js"></script>
  </head>

  <body style="background-image: url('../images/tree_bark.png')">

    <!-- Navigation -->
   <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          
          <img src="/images/MM-Logo.png" height="60px" width="170px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Games</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/athobrae">Athobrae</a>
                <a class="dropdown-item" href="/coming">Coming Soon</a>
              </div>
            </li>
         <!--    <li class="nav-item">
              <a class="nav-link" href="/store">Store</a>
            </li> -->
            <li class="nav-item active">
              <a class="nav-link" href="/gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newsletter">Newsletter</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<div id="fh5co-wrap">
	<div class="fh5co-section">


<div class="container">
  <h1 class="text-center">Gallery</h1>
        <div class="row">
            <div class="column">
                <img src="/images/Gallery_15.png" style="width:100%" class="hover-shadow cursor top" data-index="1">
            </div>
            <div class="column">
                <img src="/images/Gallery_13.png" style="width:100%" class="hover-shadow cursor top" data-index="2">
            </div>
            <div class="column">
                <img src="/images/Gallery_10.png" style="width:100%" class="hover-shadow cursor top" data-index="3">
            </div>
            <div class="column">
                <img src="/images/Gallery_14.png" style="width:100%" class="hover-shadow cursor top" data-index="4">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="column">
                <img src="/images/Gallery_09.png" style="width:100%" class="hover-shadow cursor top" data-index="5">
            </div>
            <div class="column">
                <img src="/images/Gallery_08.png" style="width:100%" class="hover-shadow cursor top" data-index="6">
            </div>
            <div class="column">
                <img src="/images/Gallery_07.png" style="width:100%" class="hover-shadow cursor top" data-index="7">
            </div>
    </div>
    <div id="myModal" class="modal">
        <span id="close" class="close cursor">&times;</span>
        <div class="modal-content">
            <div class="mySlides">
                <div class="numbertext">1 / 7</div>
                <img src="/images/Gallery_15.png" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">2 / 7</div>
                <img src="/images/Gallery_13.png" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">3 / 7</div>
                <img src="/images/Gallery_14.png" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">4 / 7</div>
                <img src="/images/Gallery_10.png" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">5 / 7</div>
                <img src="/images/Gallery_09.png" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">6 / 7</div>
                <img src="/images/Gallery_08.png" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">7 / 7</div>
                <img src="/images/Gallery_07.png" style="width:100%">
            </div>
            <a class="prev">&#10094;</a>
            <a class="next">&#10095;</a>
            <br>
            <div class="container flex">
                <div class="column">
                    <img class="demo cursor bottom" src="/images/Gallery_15.png" style="width:100%" data-index="1">
                </div>
                <div class="column">
                    <img class="demo cursor bottom" src="/images/Gallery_13.png" style="width:100%" data-index="2">
                </div>
                <div class="column">
                    <img class="demo cursor bottom" src="/images/Gallery_14.png" style="width:100%" data-index="3">
                </div>
                <div class="column">
                    <img class="demo cursor bottom" src="/images/Gallery_10.png" style="width:100%" data-index="4">
                </div>
                <div class="column">
                    <img class="demo cursor bottom" src="/images/Gallery_09.png" style="width:100%" data-index="5">
                </div>
                <div class="column">
                    <img class="demo cursor bottom" src="/images/Gallery_08.png" style="width:100%" data-index="6">
                </div>
                <div class="column">
                    <img class="demo cursor bottom" src="/images/Gallery_07.png" style="width:100%" data-index="7">
                </div>
            </div>

        </div>
    </div>

</div>
</div>
</div>
</div>

<% include ../partials/footer %>

