<% include ../partials/head %>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          
          <img src="/images/MM-Logo.png" height="60px" width="170px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Games</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/athobrae">Athobrae</a>
                <a class="dropdown-item" href="/coming">Coming Soon</a>
              </div>
            </li>
           <!--  <li class="nav-item">
              <a class="nav-link" href="/store">Store</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/newsletter">Newsletter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/subscribe">Subscribe</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<% include ../partials/footer %>