<% include ../partials/head %>
<% include ../partials/header %>

<div id="fh5co-wrap">
	<div class="fh5co-hero" style="background-image: url('../images/Gallery_12.png');" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col text-center fh5co-table">
						<div class="fh5co-intro fh5co-table-cell">
							<h1 class="text-center">Store</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 fh5co-staff">
						<h3>Amazon</h3>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
					</div>
					<div class="col-md-4 fh5co-staff">
						<h3>Local Stores</h3>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
					</div>
					<div class="col-md-4 fh5co-staff">
						<h3>Kickstarter</h3>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

<% include ../partials/footer %>