 <% include ../partials/head %>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          
          <img src="/images/MM-Logo.png" height="60px" width="170px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Games</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/athobrae">Athobrae</a>
                <a class="dropdown-item" href="/coming">Coming Soon</a>
              </div>
            </li>
           <!--  <li class="nav-item">
              <a class="nav-link" href="/store">Store</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newsletter">Newsletter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/subscribe">Subscribe</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


<body style="background-image: url('../images/crossword.png')">
	<div id="fh5co-wrap">
			<div id="contact" class="container">
				<div class="row">
					<div class="col">
					</div>
				</div>
					<div class="row">
						<div class="col-md-1"></div>
					<div  id="moonlit" class="col-md-9">
						<h1 class="text-center">Subscibe to Moonlit Moor</h1>
						<form>
          <div style="text-align: center" class="form-group">
            <h4 style="font-weight: bold">TO RECEIVE UPDATES FOR:</h4>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label style="color: black" class="form-check-label" for="inlineCheckbox1">Kickstarter</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label style="color: black" class="form-check-label" for="inlineCheckbox2">Newsletter</label>
            </div>
            <br>
            <input type="text" class="form-control text-center" id="formGroupExampleInput" placeholder="Email">
            <br>
            <button id="subscribes" type="submit" class="btn btn-sm btn-primary">Subscribe</button>
          </div>
        </form>
					</div>
				</div>
			</div>
		</div>
</div>
<br>

    <% include ../partials/footer %>